<h1>Blog#show</h1>
<p>Find me in app/views/blog/show.html.erb</p>
<%= @source %>
<p>===</p>
<%# link = @source %>
<h1><%= @blog['title'] %></h1>
	<strong>Published <%= Time.now.to_s(:long) %></strong>

	<h3>Story:</h3>
	<p>content goes here <%=  @blog['encoded'] %></p>
	<p>Original Source:  <%= link_to "Original Article", @blog['link'] %></p>
