<div class="yui-g">
  <div class="yui-u first">
    <h2>My Blog (<%= link_to "more", blogs_path() %>)</h2>
	
	<ul id="blog" >
	<%- @blog_articles.each do |a| -%>
		<li>
		             <!-- <a href="<%= a['link'] %>/">
		             						<%= a['title'] %>
		             					</a> -->
					<%= link_to a['title'], :controller => "articles", :source => URI.escape(a['link'], Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) %>
					<%# link_to a['title'], blogs_path(:source => URI.escape(a['link'], Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))) %>
					<%# link_to "articles", stuff_path() %>
					
		</li>
	<%- end -%>
	</ul>    	
    <h2>My links</h2>
		<ul id="delicious" >
		<%- @links.each do |link| -%>
			<li>
	             <!-- <a href="<%= link['link'] %>/">
					<%= link['title'] %>
				</a> -->
				<%= link_to link['title'], link['link'] %>				
			</li>
		<%- end -%>
		</ul>    	
    <h2>My Photos</h2>
		<ul id="flickr" >
		<%- @photos.each do |photo| -%>
			<li>
				<%= link_to image_tag("http://farm#{photo['farm']}.static.flickr.com/#{photo['server']}/#{photo['id']}_#{photo['secret']}_s.jpg"), 
					photos_path(:service => "flickr", 
						:source => "http://www.flickr.com/photos/codepo8/" + URI.escape(photo['id'], Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")), 
						:photo_id => photo['id'],
						:farm => photo['farm'],
						:server => photo['server'],
						:secret => photo['secret']
						) %>				
			</li>
		<%- end -%>
		</ul>    	
  </div>
  <div class="yui-u">
    <h2>My videos</h2>

		<ul>
			<%- @videos.each do |video| -%>
			<li>
				<div style="color: #000000;font-family: Arial, Helvetica, sans-serif;     font-size:12px; font-size: 12px; width: 100%;">
					<table cellspacing="0" cellpadding="0" border="0">
						<colgroup><col width="20%"><col width="50%">
						<col width="30%"></colgroup>
						<tbody>
							<tr>
								<td  valign="top" rowspan="2">
									<div style="border: 1px solid #999999; margin: 0px 10px 5px 0px;">
										<%= link_to image_tag(video['group']['thumbnail'].first['url']), 
											videos_path(:videoid => URI.escape(video['group']['videoid'], Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))) %>				
										
										<!-- <a href="<%= video['group']['player']['url'] %>">
											<img alt="" src="<%= video['group']['thumbnail'].first['url']%>">
										</a> -->
									</div>
								</td>
								<td  valign="top">
									<div style="font-size: 12px; font-weight: bold;">
										<%= link_to video['title'], video['group']['player']['url'], :style => "font-size: 15px; font-weight: bold;font-decoration: none;" %>
									</div>
									<div style="font-size: 12px; margin: 3px 0px;"><span><%= video['group']['description']['content'] %></span></div></td>
			<td style="font-size: 11px; line-height: 1.4em; padding-left: 20px;             padding-top: 1px;"  valign="top"><div><span style="color: #666666; font-size: 11px;">From:</span>
				<%= link_to video['author']['name'], "http://www.youtube.com/profile?user=" + video['author']['name'] %>
			
			</div>
			<div><span style="color: #666666; font-size: 11px;">Views:</span>
			<%= video['statistics']['viewCount'] %></div>
			<div style="white-space: nowrap;text-align: left">

			</div>
			<div style="font-size: 11px;"><%= video['rating'].first['numRaters'] %>
			<span style="color: #666666; font-size: 11px;">ratings</span></div></td></tr>
			<tr><td><span style="color: #666666; font-size: 11px;">Time:</span>
			<span style="color: #000000; font-size: 11px; font-weight: bold;"><%= video['group']['thumbnail'].first['time'] %></span></td>
			<td style="font-size: 11px; padding-left: 20px;"><span style="color: #666666; font-size: 11px;"><%= video['group']['category']['content'] %></span>
			</td></tr></tbody></table></div></li>
			<%- end -%>
			
		</ul>
		<p><pre>
		</pre></p>
  </div>
</div>
